header, h3{
    padding-left: 41px;
}
.container {
    display: flex;
}
.container-2 {
    display: flex;
    margin: 81px;
    border: 1px solid silver;
    border-left: none;
    border-right: none;
    align-items: center;
}
.logos{
    padding-right: 40px;
    margin: 10px;
}
.logos, img{
    width: 50px;
    padding-left: 11px;
}
.hpa {
    margin: 50px;
    padding-left: 30px;
}
.almost{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
}
.start-journey{
    font-size: 33px;
    font-family: 'PT Sans', sans-serif;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: #D85678;
    padding: 6px 30px;
    font-weight: lighter;
    border-radius: 50px;
}
.link-button-2{
    text-decoration: none;
    color: #D85678;
    font-size: 20px;
    font-family: 'Dongle', sans-serif;
    float: right;
    padding-right: 50px;
    margin-bottom: 0px;
}
.link-button-3{
    text-decoration: none;
    color: #D85678;
    font-size: 20px;
    font-family: 'Dongle', sans-serif;
    padding-left: 50px;
}
.main-camera img{
    width: 60%;
    padding-left: 15%;
    padding-top: 65px;
}
.fa-arrow-right{
    padding-left: 5px;
}
.pop-col{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-left: 15px;
    font-size: 40px;
}
.container-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
header, h2 {
    padding-right: 18px;
}
h4 {
    margin-top: 8px;
    padding-left: 6px;
    font-family: 'Rubik', sans-serif;
}
h5 {
    padding-left: 6px;
    font-size: 12px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.drone{
    margin: 70px;
    margin-top: 0px;
    padding-right: 5px;
    border: 6px solid #d8d8d8;
    border-radius: 5px;
    margin-bottom: 10px;
}
.drone img{
   width: 180px;
   height: 150px;
   margin-top: 5px;
   padding-left: 5px;
   margin: 1px;
}
.fa-star,
.fa-star-half-alt{
    color: orange;
    font-size: 10px;
}
.fa-angle-right{
    font-size: 13px;
}
.rating{
    font-size: 12px;
}
.star-rating{
    display: flex;
    align-items: center;
}
.h5-price{
   margin: 0px;
}
.worldwide {
    color: gray;
    font-size: 18px;
    margin: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    font-family: 'Dongle', sans-serif;
}
.container-4 {
    display: flex;
}
.pop-heading{
    font-family: 'Rubik', sans-serif;
    padding-left: 50px;
}
.p-heading{
    font-family: 'Montserrat Alternates', sans-serif;
    padding-left: 50px;
    font-size: 12px;
}
.popular, img{
    width: 130%;
}
.popular{
    margin: 50px;
    padding-left: 30px;
}
.footer {
    padding: 5px;
    background-color: #000080;
}
.footer .copyright{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: whitesmoke;
    font-size: 14px;
}
.rights{
    font-size: 18px;
    font-family: 'Dongle', sans-serif;
}
/*  ----------------- 
     Media Queries
   --------------- */

/* Mobile Devices */
@media only screen and (max-width:500px){
    .container{
        width: 100%;
    }
    .main-camera img{
        grid-template-columns: repeat(1, 1fr);
    }
    .link-button{
        padding: 3px 15px;
    }
    .container-3{
        grid-template-columns: repeat(1, 1fr);
        margin: 70px;
    }
    .popular img{
        margin: 40px;
    }
    .popular{
    margin: 50px;
    padding-left: 30px;
    }
    .container-2{
        margin: 0px;
    }
    .logos{
        margin: 0px;
        width: 80%;
    }
}
/* For Mobile Devices */